@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")">
    <link href="@Url.Content("~/css/manageLogin.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style> 
    </style>
    </head>
<ul class="nav nav-pills flex- column positionNav">
    <li class="nav-item"><a class="btnbtn-primarybtn-md7 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="btnbtn-primarybtn-md7 @ManageNavPages.CarRegNavClass(ViewContext)" id="car-reg" asp-page="./CarReg">Car Reg</a></li>
    <li class="nav-item"><a class="btnbtn-primarybtn-md7 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="btnbtn-primarybtn-md7 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="btnbtn-primarybtn-md7"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="btnbtn-primarybtn-md7 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item"><a class="btnbtn-primarybtn-md7" role="button" aria-disabled="true" asp-controller="ParkingSpaces" asp-action="Search">Back To Search</a></li>
   
    
</ul>
