@model FreePark.Models.ParkingSpace

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ParkingSpace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSpace" class="control-label"></label>
                <input asp-for="TotalSpace" class="form-control" />
                <span asp-validation-for="TotalSpace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lng" class="control-label"></label>
                <input asp-for="lng" class="form-control" />
                <span asp-validation-for="lng" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGarageParking" /> @Html.DisplayNameFor(model => model.IsGarageParking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasParkingMeterLocations" /> @Html.DisplayNameFor(model => model.HasParkingMeterLocations)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFreeParking" /> @Html.DisplayNameFor(model => model.IsFreeParking)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDay" class="control-label"></label>
                <input asp-for="StartDay" class="form-control" />
                <span asp-validation-for="StartDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" class="control-label"></label>
                <input asp-for="EndDay" class="form-control" />
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGarageParking" /> @Html.DisplayNameFor(model => model.IsGarageParking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasParkingMeterLocations" /> @Html.DisplayNameFor(model => model.HasParkingMeterLocations)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFreeParking" /> @Html.DisplayNameFor(model => model.IsFreeParking)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
