@model FreePark.Models.ParkingSpace

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingSpace</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGarageParking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGarageParking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
