@model IEnumerable<FreePark.Models.GarageParking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GarageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarageLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarageLong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GarageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarageLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarageLong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GarageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GarageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GarageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
